absl-py==2.0.0
accelerate @ git+https://github.com/huggingface/accelerate.git@04825483637a002deed91602878efbc1e4cfc0b4
aiohttp==3.9.1
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.3
attrs==23.1.0
bitsandbytes==0.41.2.post2
blessed==1.20.0
cachetools==5.3.2
certifi==2023.11.17
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
datasets==2.15.0
dill==0.3.7
docker-pycreds==0.4.0
einops==0.7.0
exceptiongroup==1.2.0
filelock==3.13.1
flash-attn==2.3.6
frozenlist==1.4.0
fsspec==2023.10.0
gitdb==4.0.11
GitPython==3.1.40
google-auth==2.24.0
google-auth-oauthlib==1.1.0
gpustat==1.1.1
grpcio==1.59.3
huggingface-hub==0.19.4
humanfriendly==10.0
idna==3.6
iniconfig==2.0.0
Jinja2==3.1.2
Markdown==3.5.1
MarkupSafe==2.1.3
more-itertools==10.1.0
mpmath==1.3.0
multidict==6.0.4
multiprocess==0.70.15
networkx==3.2.1
ninja==1.11.1.1
numpy==1.26.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-ml-py==12.535.133
nvidia-nccl-cu12==2.18.1
nvidia-nvjitlink-cu12==12.3.101
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
optimum==1.14.1
packaging==23.2
pandas==2.1.3
pluggy==1.3.0
protobuf==4.23.4
psutil==5.9.6
pyarrow==14.0.1
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pytest==7.4.3
python-dateutil==2.8.2
pytorch-ranger==0.1.1
pytz==2023.3.post1
PyYAML==6.0.1
regex==2023.10.3
requests==2.31.0
requests-oauthlib==1.3.1
rsa==4.9
safetensors==0.4.1
scipy==1.11.4
sentencepiece==0.1.99
sentry-sdk==1.38.0
setproctitle==1.3.3
six==1.16.0
smmap==5.0.1
sympy==1.12
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tokenizers==0.15.0
tomli==2.0.1
torch==2.1.1
torch-optimizer==0.3.0
tqdm==4.66.1
transformers @ git+https://github.com/huggingface/transformers.git@2c658b5a4282f2e824b4e23dc3bcda7ef27d5827
triton==2.1.0
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
wandb==0.16.0
wcwidth==0.2.12
Werkzeug==3.0.1
xxhash==3.4.1
yarl==1.9.3